.CardOne {
  width: fit-content;
  position: absolute;
  width: 100%;
  height: fit-content;
  background-color: white;
  display: flex;
  justify-content: center;
}
.CardOne > .oneitems {
  align-items: center;
  width: 50%;
  height: fit-content;
}
.CardOne > .oneitems img {
  width: 70%;
}
@media only screen and (max-width: 600px) {
  .CardOne > .oneitems img {
    width: 100%;
  }
}
