.Menu {
  width: 260px;
  align-items: center;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  height: 700px;
  padding: 1rem 0.6rem;
  margin-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
.Menu li {
  list-style: none;
  text-align: left;
  padding: 6px;
}
@media only screen and (max-width: 600px) {
  .Menu {
    width: auto;
    align-items: center;
    position: absolute;
    visibility: hidden;
  }
}
